/* <style type="text/css"> */
<!--


/*
	link 처음나타났을 때
	hover 마우스가 올라갔을 때
	active 클릭 했을 때
	visited 클릭 후 접속
*/
a:link{color:white;font-family:sans-serif;text-decoration:none;}
a:visited{color:white;font-family:sans-serif;text-decoration:none;}
a:hover{color:#cc3300; font-weight:bold; }
a:active{color:#ff00cc; text-decoration:underline; }

#top{
   background-image:url('image/header.jpg');
   width: 800;
   height: 100;
   
   border:1px solid red;
   border-collapse: collapse;
}

#top td{
   border:1px solid green;
   border-collapse: collapse;
   padding: 0px;
}
-->
/* </style> */